//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$gray-base:             #000 !default;
$gray-darkest:          lighten($gray-base, 6.5%) !default;  // #111
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 60%) !default;   // #999
$gray-lightest:         lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #3d9fbe !default;
$brand-primary-dark:    #467c8f !default;
$brand-secondary:       #f23d02 !default;
$brand-secondary-dark:  #e03400 !default;

$container-light:       #f2f7fb !default;


// Core
// -------------------------

// Scaffolding
$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

$link-color:            $brand-primary !default;
$link-color-hover:      darken($link-color, 15%) !default;


// Generic values for spacing
$space-byte:            5px !default;
$space-kilo-byte:       ($space-byte * 2) !default;
$space-mega-byte:       ($space-byte * 3) !default;
$space-giga-byte:       ($space-byte * 4) !default;
$space-tera-byte:       ($space-byte * 5) !default;
$space-peta-byte:       ($space-byte * 6) !default;
$space-exa-byte :       ($space-byte * 7) !default;
$space-zeta-byte:       ($space-byte * 8) !default;

// Border radius sizes
$border-radius-base:    3px !default;


// Typography
$font-path:             "../fonts" !default;

$font-family-sans-serif:Arial, Helvetica, sans-serif !default;
$font-family-serif:     "Bitter-Regular-webfont", sans-serif !default;
$font-family-serif-it:  "Bitter-Italic-webfont", sans-serif !default;
$font-family-serif-bd:  "Bitter-Bold-webfont", sans-serif !default;
$font-family-base:      $font-family-sans-serif !default;

$font-size-base:        14px !default;

$font-size-4xl:         floor(($font-size-base * 2.43)) !default; // ~34px
$font-size-3xl:         floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-2xl:         ceil($font-size-base * 1.71) !default;    // ~24px
$font-size-xl:          ceil($font-size-base * 1.42) !default;    // ~20px
$font-size-lg:          ceil($font-size-base * 1.25) !default;    // ~18px
$font-size-md:          ceil($font-size-base * 1.07) !default;    // ~15px
$font-size-sm:          ceil($font-size-base * 0.92) !default;    // ~13px
$font-size-xs:          ceil($font-size-base * 0.85) !default;    // ~12px
$font-size-2xs:         ceil($font-size-base * 0.78) !default;    // ~11px
$font-size-3xs:         ceil($font-size-base * 0.71) !default;    // ~10px
$font-size-4xs:         ceil($font-size-base * 0.64) !default;    // ~9px

$font-size-h1:          $font-size-4xl !default;
$font-size-h2:          $font-size-2xl !default;
$font-size-h3:          $font-size-xl !default;

$line-height-base:      1.428571429 !default; // 20/14
$line-height-computed:  floor($font-size-base * $line-height-base) !default; // ~20px

// By default, this inherits from the `<body>`.
$headings-font-family:  $font-family-serif-bd !default;
$headings-font-weight:  400 !default;
$headings-line-height:  1.1 !default;
$headings-color:        inherit !default;


// Buttons
$btn-width:             100% !default;
$btn-height:            50px !default;
$btn-font-family:       $font-family-sans-serif !default;
$btn-font-size:         $font-size-2xl !default;
$btn-font-weight:       400 !default;
$btn-line-height:       1 !default;
$btn-font-color:        #fff !default;
$btn-font-color-hover:  #fff !default;
$btn-bg-color:          $brand-secondary !default;
$btn-bg-color-hover:    $brand-secondary-dark !default;


// Forms
$input-height:                 30px !default;

$label-inline-width:           30% !default;
$input-inline-width:           40% !default;
$label-inline-offset-width:    $input-inline-width !default;

$label-inline-margin:          1% !default;
$input-inline-margin:          $label-inline-margin !default;
$label-inline-offset-margin:   33% !default;


// Cookies Message
$cookies-msg-width:            100% !default;
$cookies-msg-height:           auto !default;
$cookies-msg-min-height:       38px !default;


// Main Header
$header-width:                 100% !default;
$header-height:                70px !default;
$header-element-width:         auto !default;
$header-element-height:        50px !default;


// Main Footer
$footer-width:                 100% !default;
$footer-height:                auto !default;
$footer-min-height:            95px !default;


// Media Queries
// -------------------------

// Breakpoints
$screen-sm-min: 0em !default;        // 0
$screen-sm-max: 40em !default;       // 640px

$screen-md-min: 40.063em !default;   // 641px
$screen-md-max: 64em !default;       // 1024px

$screen-lg-min: 64.063em !default;   // 1025px
$screen-lg-max: 90em !default;       // 1440px

$screen-xl-min: 90.063em !default;   // 1441px
$screen-xl-max: 120em !default;      // 1920px

$screen-xxl-min: 120.063em !default; // 1921px

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{$screen-sm-max})" !default;

$medium-up: "#{$screen} and (min-width:#{$screen-md-min})" !default;
$medium-only: "#{$screen} and (min-width:#{$screen-md-min}) and (max-width:#{$screen-md-max})" !default;

$large-up: "#{$screen} and (min-width:#{$screen-lg-min})" !default;
$large-only: "#{$screen} and (min-width:#{$screen-lg-min}) and (max-width:#{$screen-lg-max})" !default;

$xlarge-up: "#{$screen} and (min-width:#{$screen-xl-min})" !default;
$xlarge-only: "#{$screen} and (min-width:#{$screen-xl-min}) and (max-width:#{$screen-xl-max})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{$screen-xxl-min})" !default;


// Iconography
// -------------------------

$icon-sprite-path:                  "../images/sprites.png" !default;
